name: Assemble Debug

on:
  push:
    tags:
      - "debug-*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
        mkdir -p ~/.android
        if [[ -n "${{ secrets.DEBUG_KEYSTORE_BASE64 }}" ]]; then
          echo "${{ secrets.DEBUG_KEYSTORE_BASE64 }}" | base64 -d > ~/.android/debug.keystore
        fi
        ./gradlew assembleDebug
    - name: Upload our APK
      uses: actions/upload-artifact@v2.2.0
      with:
        name: "Debug APK"
        path: app/build/outputs/apk/debug/

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: app/build/outputs/apk/debug/app-debug.apk
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}